   SECRET_KEY="your_django_secret_key"
   # Use True for local development; set False in production
   DEBUG=True          
   DB_NAME="database_name"
   DB_USER="username"
   DB_PASSWORD="password"
   # Database host
   DB_HOST="localhost"  
   # Example for production domain
   GLIDER_HOST_DOMAIN="glider.example.com" 
   # Default PostgreSQL port
   DB_PORT="5432"