{% extends 'gliderdata/base.html' %} {% block hero %}
<div class="hero">
  <div>
    <h1 class="display-3 fw-bold">Welcome to the Glider Research Group</h1>
    <p class="lead">Exploring the unknown depths of our oceans</p>
  </div>
</div>
{% endblock %} {% block content %}
<section id="funding" class="text-center py-5">
  <h2 class="mb-3">Funding & Acknowledgements</h2>
  <p>
    Supported by NSF, Moore Foundation, Agouron Institute, and other sponsors.
  </p>
  <p><a href="#" class="btn btn-primary">Funding Acknowledgment Page</a></p>
</section>
{% endblock %}
